<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Jack's Record Wishlist</title>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type= "text/css" href="/static/css/records.css">
    </head>
    <body>
        <header class="page-header">
            <div class="container">
                <h1>Vinyl Record Wishlist</h1>
            </div>
        </header>
        <p>
        The table below has been constructed using a golang webscraper to collect prices of the specified input records from Amazon.
        </p>
        <table border='1'>
            <tr>
                <th>Artist</th>
                <th>Album</th>
                <th>Price (£)</th>
            </tr>
            {{range .}}
            <tr>
                <td>{{.GetArtist}}</td>
                <td>{{.GetAlbum}}</td>
                <td>{{.GetPrice}}</td>
            </tr>
            {{end}}
        </table>
    </body>
</html>
