.page-header {
    background-color: #001833;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px 5px 10px 20px;
}


h1 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: #001833;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

table {
    border-collapse: collapse;
}

th, td {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #001833;
    color: white;
}
